.container {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px; 
	width: 1118px; 
	padding: 0 386px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;  
	justify-content: center;  
}

h1 {
	font-size: 48px;
	margin-bottom: 20px; 
}

h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

h3 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px; 
}

h4 {
	font-size: 20px;
	margin-bottom: 20px; 
}


.header-nav {
	width: 100%;
	height: 40px;
	background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	display: flex;
	margin-top: 15px;
}
  
.header-nav a {
	display: block;
	text-decoration: none;
	color: black;
	height:100%;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
  
.header-nav a:active {
	background-color: #fafafa;
	box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.3);
}
  
.main-heading {
	width: auto;
	height: 220px;
	margin-top: 25px;
	background-color: #f5f5f5;
	text-align: center; 
	padding: 100px 280px;  
}

.main-heading p {
	line-height: 20px; 
}



.main-icon {
	width: 100%;	
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;  
	justify-content: space-between;
}
.icon {
	width: 30%;
	display: flex;
	justify-content: space-between;  
	align-content: space-between; 
	height: 120px;
	padding: 10px 0;
}
.fa {
	color: #1c708f;
}

.wrap {
	width: 20%;
}

.wrap1 {
	width: 80%;
	line-height: 15px;
}

.button {
	width: 80px;
	height: 40px; 
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	background-color: #fcfcfc;
}

.blue {
	background-color: #00ace8;
	border: 1px solid #3d8da6;
	color: white;
}

.main-photo {
	height: 100%;
	width: 100%;
	display: flex;
	border-top: 1px solid #e7e7e7;  
	justify-content: space-between;  
	align-items: center; 
}

.main-photo:last-child {
	border-bottom: 1px solid #e7e7e7;   
}

.photo {
	width: 540px;
	margin: 20px 0;
	height: 330px;
	background-color: #f5f5f5;
}

.text {
	width: 45%;
	margin: 20px 0;
}

.text p {
	line-height: 15px;
}

.footer-nav {
	width: 100%;
	background-color: #f5f5f5;
	border: 1px solid #e8e8e8; 
	margin: 25px 0; 
	border-radius: 5px;
}

.footer-nav p {
	text-align: center;
	line-height: 60px; 
}

.bold {
	font-weight: bold;
}

.footer-nav .blue {
	margin-top: 0;
	margin-left: 20px; 
}


.clients {
	width: 100%;
	height: 100%;
	margin: 25px 0;
}



.clients h2 {
	text-align: center;
	line-height: 60px; 
	margin-bottom: 0;
}

.wrap-clients {
	width: 100%;
	margin: 10px 0;
	display: flex;
	justify-content: space-between; 
}

.photo-clients {
	height: 65px;
	width: 160px; 
	margin: 5px; 
	background-color:#f5f5f5;
}


@media screen and (max-width: 480px) and (min-width: 320px) {
	.header-nav {
		display: none;
	}

	.container {
		width: auto;
		margin: 20px;
		padding: 0px;
	}
	
	.main-heading {
		width: auto;
		height: auto;
		margin-top: 0;
	
		padding: 100px 80px;  
	}
	
	.main-icon {
		flex-direction: column;  
		align-items: center;  
	}

	.icon {
		width: 100%;
		height: 100%;
	}
	
	.main-photo {
		flex-direction: column;
		align-content: space-between;
		margin-bottom: 20px;
	}
	.text,
	.photo {
		width: 100%;
	}

	.footer-nav {
		height: fit-content;
		padding: 10px;
		width: auto;
	}

	.footer-nav p {
		line-height: 30px;
	}

	.wrap-clients {
		align-content: space-around;  
		justify-content: center; 
		height: 100%;  
		flex-wrap: wrap;
	}

	.photo-clients {
		margin: 20px;
	}
}