<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Website</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<script src="https://use.fontawesome.com/4f041c4c1b.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<nav class="header-nav">
				<a href="">Brand</a>
				<a href="">Frontpage</a>
				<a href="">Portfolio</a>
				<a href="">Blog</a>
				<a href="">Documentation</a>
				<a href="">Contact</a>
				<a href="">Login</a>
			</nav>
		</header>
		
		<main>
			<div class="main-heading">
				<h1>
					Sample Heading
				</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.
				</p>
				<button class="button blue">Button</button>
				<button class="button">Button</button>
			</div>
			<div class="main-icon">
				<div class="icon">
					<div class="wrap">
						<i class="fa fa-cog fa-2x" aria-hidden="true"></i>
					</div>
					<div class="wrap1">
						<h4>Sample heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
							Aenean commodo ligula eget dolor. Aenean massa. 
							Cum sociis natoque.
						</p>
					</div>
				</div>
				<div class="icon">
					<div class="wrap">
						<i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
					</div>
					<div class="wrap1">
						<h4>Sample heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
							Aenean commodo ligula eget dolor. Aenean massa. 
							Cum sociis natoque.
						</p>
					</div>
				</div>
				<div class="icon">
					<div class="wrap">
						<i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
					</div>
					<div class="wrap1">
						<h4>Sample heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
							Aenean commodo ligula eget dolor. Aenean massa. 
							Cum sociis natoque.
						</p>
					</div>
				</div>
				<div class="icon">
					<div class="wrap">
						<i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
					</div>
					<div class="wrap1">
						<h4>Sample heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
							Aenean commodo ligula eget dolor. Aenean massa. 
							Cum sociis natoque.
						</p>
					</div>
				</div>
				<div class="icon">
					<div class="wrap">
						<i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
					</div>
					<div class="wrap1">
						<h4>Sample heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
							Aenean commodo ligula eget dolor. Aenean massa. 
							Cum sociis natoque.
						</p>
					</div>
				</div>
				<div class="icon">
					<div class="wrap">
						<i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
					</div>
					<div class="wrap1">
						<h4>Sample heading</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
							Aenean commodo ligula eget dolor. Aenean massa. 
							Cum sociis natoque.
						</p>
					</div>
				</div>
			</div>
			<div class="main-photo">
				<div class="photo"></div>
				<div class="text">
					<h2>Heading</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque. Cum sociis natoque. 
						Cum sociis natoque.
					</p>
					<h3>Subheading</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor.
					</p>
					<button class="button blue">Button</button>			
				</div>
			</div>
			<div class="main-photo">
				<div class="text">
					<h2>Heading</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque. Cum sociis natoque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
					</p>
					<h3>Subheading</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor. Aenean massa. 
						Cum sociis natoque. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Aenean commodo ligula eget dolor.
					</p>
					<button class="button blue">Button</button>
				</div>
				<div class="photo"></div>	
			</div>
		</main>
		
		<footer>
			<div class="footer-nav">
				<form>
					<p><b class="bold">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</b> 
					Aenean commodo ligula eget dolor.
					<button class="button blue">Button</button></p>
				</form>		
			</div>
			<div class="clients">
				<h2>Our clients</h2>
				<div class="wrap-clients">
					<div class="photo-clients"></div>
					<div class="photo-clients"></div>
					<div class="photo-clients"></div>
					<div class="photo-clients"></div>
					<div class="photo-clients"></div>
					<div class="photo-clients"></div>
				</div>
			</div>
			
		</footer>
	</div>
</body>
</html>